body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
}
.wrapper-header {
    display: flex;
    width: 1280px;
    margin: 0 auto;
    padding: 29px 0;
    justify-content: space-between;
    align-items: center;
}
.bold-text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 89px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}
.medium-text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #000000;
}
.light-text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
.logo {
    text-decoration: none;
}
.menu-list {
    list-style: none;
}
.menu-item {
    display: inline-block;
}
.menu-item:not(:first-child) {
    margin-left: 46px;
}
.menu-link {
    text-decoration: none;
}
.menu-link:hover {
    color: #817070;
}
.slogan-bg {
    background: url("img/coffee-cup.jpeg");
    padding: 267px 0;
    background-position: center;
}
.slogan::after {
    display: block;
    content: "";
    height: 10px;
    width: 80px;
    background: #817070;
    margin: 0 auto;
}
.story-section {
    padding: 60px 0;
}
.story-main {
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1280px;
}
.story-image {
    width: 600px;
    height: 400px;
}
.story-text {
    width: 597px;
    text-transform: none;
    margin-left: 40px;
    font-size: 20px;
    line-height: 30px;
}
.blog-section {
    background-color: #EFEFEF;
    padding-top: 60px;
    padding-bottom: 65px;
}
.card-gallery {
    display: flex;
    justify-content: space-between;
    width: 1235px;
    margin: 60px auto 0 auto;
}
.blog-card {
    box-sizing: border-box;
    width: 365px;
    height: 474px;
    padding: 20px;
    overflow: hidden;
    background-color: #fff;
}
.card-image {
    margin-top: 24px;
    width: 325px;
    height: 216px;
}
.first-image {
    background: url("img/image1.jpg");
}
.second-image {
    background: url("img/image2.jpg");
}
.third-image {
    background: url("img/image3.jpg");
}
.card-text {
    margin-top: 24px;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
}
.subscribe-section {
    background-color: #817070;
    padding: 60px 0 58px 0;
}
.subscribe-title {
    color: #fff;
}
.subscribtion-form {
    margin-top: 28px;
}
.email-input {
    display: block;
    padding: 9px 0 16px 0;
    width: 300px;
    background-color: rgba(0,0 ,0, 0);
    border: 3px solid #fff;
    margin: 0 auto;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}
.email-input::placeholder {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-align: center;
}
.email-input:focus {
    outline: none;
}
.submit-btn {
    display: block;
    padding: 12px 0 13px 0;
    width: 129px;
    margin: 28px auto 0 auto;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #817070;
}
.footer {
    padding: 29px 0 14px 0;
}
.copyright {
    font-size: 20px;
    line-height: 30px;
}